.add-image__title {
  font-size: 1rem;
  line-height: 20px;
  font-weight: 300;
  color: var(--black-75);
  text-transform: uppercase;
}

.add-image__preview {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 20px 0;
}

.add-image__card {
  position: relative;
  margin-right: 24px;
  &:last-child {
    margin-right: 0;
  }
}

.add-image__delete {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: var(--red);
  cursor: pointer;
}

.add-image__image {
  width: 100%;
  max-width: 160px;
  max-height: 160px;
  border-radius: 2px;
}

.add-image__image-name,
.add-image__image-timestamp {
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
}

.add-image__image-name {
  color: var(--black-75);
  margin-top: 8px;
  margin-bottom: 4px;
}

.add-image__image-timestamp {
  color: var(--black-50);
}

.add-image__dropzone {
  width: min-content;
  cursor: pointer;
}

.add-image__error {
  margin: 0.5rem 0;
  color: var(--red);
}

.add-image__hint {
  width: 100%;
  height: 200px;
  margin-bottom: 1rem;
  border: 1px solid var(--black-10);
  border-radius: 4px;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 1rem;
  color: var(--black-20);
  transition: all 333ms ease;
  &:hover {
    border-color: var(--black-20);
    color: var(--black-30);
  }
  &:active {
    border-color: var(--black-30);
    color: var(--black-50);
  }
}
