.market {
  display: flex;
  height: 100%;
}

.market__content {
  width: 100%;
  box-shadow: -15px 0px 20px rgba(0, 0, 0, 0.05);
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 0 40px;
  border-bottom: 1px solid var(--black-10);
}

.header__link {
  display: flex;
  align-items: center;
  color: var(--accent);
  font-size: 1rem;
  line-height: 1.25rem;
  padding: 26px 0;
  transition: all 333ms ease;
  span {
    text-transform: uppercase;
    margin-left: 1rem;
  }
  &:hover {
    color: var(--accent-light);
  }
  &:active {
    color: var(--accent-dark);
  }
}

.header__icon-bar {
  display: flex;
  align-items: center;
}

.header__icon-button {
  padding: 0.75rem;
  border: 1px solid var(--white);
  border-radius: 2px;
  background-color: var(--white);
  cursor: pointer;
  transition: all 222ms ease;
  &:hover {
    border-color: var(--black-10);
  }
  &:active {
    border-color: var(--black-30);
  }
}

.title {
  display: inline-flex;
  align-items: center;
  button {
    padding: 0 12px;
    background-color: var(--white);
    border: none;
    cursor: pointer;
    transition: all 333ms ease;
    &:hover {
      opacity: 0.75;
    }
  }
}

.title_regular {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: var(--black-90);
  margin-bottom: 24px;
}

.title_light {
  font-weight: 300;
  font-size: 16px;
  line-height: 20px;
  color: var(--black-75);
  margin-bottom: 20px;
  text-transform: uppercase;
}

.title__edit {
  display: flex;
  align-items: center;
}

.title__edit-button {
  margin-left: 12px;
}

.market__body {
  padding: 24px 0 32px 0;
}

.info-block__list {
  font-size: 14px;
  line-height: 20px;
  color: var(--black-75);
}

.info-block__list-item {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
  &:last-child {
    margin-bottom: 0;
  }
  span {
    width: 150px;
    margin-right: 12px;
    font-weight: 300;
  }
  p {
    width: 100%;
    font-weight: 400;
  }
}

.hr {
  margin: 2rem 0;
  background-color: var(--black-10);
  border: none;
  width: 100%;
  height: 1px;
}

.aside {
  width: 224px;
  background-color: var(--black-5);
}

.aside__header {
  padding: 20px;
  color: var(--black-75);
  text-transform: uppercase;
  text-align: center;
}

.aside__title {
  font-size: 1rem;
  line-height: 26px;
  margin-bottom: 2px;
}

.aside__subtitle {
  font-size: 12px;
  line-height: 20px;
}

.aside__list-item {
  display: flex;
  align-items: center;
  padding: 12px 16px;
  background-color: var(--grey);
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  color: var(--accent);
  cursor: pointer;
  transition: all 333ms ease;
  img {
    margin-right: 12px;
  }
  &:hover {
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
  }
}
